 @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 0 200px;
}
.h1 {
    font-size: 1.8em;
    padding: 1em 0;
}
.wow {
    font-size: 6em;
    font-style: italic;
}

#text {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    height: 50px;
    min-height: 50px;
    max-height: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #555;
}

#button {
    background-color: saddlebrown;
    color: white;
}